{% extends "base.html" %}
{% block head %}
{{ super ()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/webui.css') }}" crossorigin="anonymous">
{% endblock %}
{% block content %}
<header id="webinar-section">
    <div class="dark-overlay">
      <div class="home-inner container">
        <div class="row">
          <div class="col-lg-12 d-lg-block">
            <div class="h1 pb-2 "><span class="text-color-pink">Evento finalizado, obrigado por participar</span></div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block javascript %}
{{ super() }}
  <script src="{{ url_for('static', filename = 'js/libs/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/finished.js' ) }}"></script>
{% endblock %}